stages:
  - build
  - test
  - package
  - deploy

image: maven:3.9.11-eclipse-temurin-21-alpine

variables:
  MAVEN_CLI_OPTS: "-B -V"
  SPRING_PROFILES_ACTIVE: test

cache:
  paths:
    - .m2/repository

build:
  stage: build
  script:
    - mvn clean compile

test:
  stage: test
  script:
    - mvn test

package:
  stage: package
  script:
    - mvn package -DskipTests
  artifacts:
  stage: deploy
  script:
    - echo "Déploiement simulé OK"
  only:
    - main
    paths:
      - target/*.jar

