stages:
  - build
  - test
  - package
  - deploy

image: maven:3.9.11-eclipse-temurin-21-alpine

variables:
  MAVEN_CLI_OPTS: "-B -V"
  SPRING_PROFILES_ACTIVE: test

cache:
  paths:
    - .m2/repository

build:
  stage: build
  script:
    - mvn clean compile
  artifacts:
    paths:
      - target/
    expire_in: 1h

test:
  stage: test
  script:
    - mvn test
  artifacts:
    when: always
    reports:
      junit: target/surefire-reports/*.xml
    expire_in: 1w

package:
  stage: package
  script:
    - mvn package -DskipTests
  artifacts:
    paths:
      - target/*.jar
    expire_in: 1w

deploy:
  stage: deploy
  script:
    - echo "Déploiement simulé OK"
  only:
    - main
